In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
movies = pd.read_csv("/content/tmdb_5000_movies.csv")
credits = pd.read_csv("/content/tmdb_5000_credits.csv")
movies.head()
credits.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [3]:
credits.columns = ['id','title','cast','crew']
movies= movies.merge(credits,on='id')

In [4]:
minimum_votes= movies['vote_count'].quantile(0.9)
minimum_votes

1838.4000000000015

In [5]:
dataset = movies.copy().loc[movies['vote_count'] >= minimum_votes]
dataset.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

In [6]:
#Conversion to type string for concatenation 
dataset = dataset.applymap(str)

In [7]:
features = ['keywords','cast','genres','original_title']
def combine_features(row):
    return row['keywords']+" "+row['cast']+" "+row['genres']+" "+row['original_title']

for feature in features: 
  dataset[feature] = dataset[feature].fillna('')
  #applying combined_features() method over each rows of dataframe and storing the combined string in "combined_features" column
  dataset["combined_features"] = dataset.apply(combine_features,axis=1)

In [8]:
dataset.head()

      budget  ...                                  combined_features
0  237000000  ...  [{"id": 1463, "name": "culture clash"}, {"id":...
1  300000000  ...  [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2  245000000  ...  [{"id": 470, "name": "spy"}, {"id": 818, "name...
3  250000000  ...  [{"id": 849, "name": "dc comics"}, {"id": 853,...
4  260000000  ...  [{"id": 818, "name": "based on novel"}, {"id":...

[5 rows x 24 columns]

In [9]:
cv = CountVectorizer() #creating new CountVectorizer() object
count_matrix = cv.fit_transform(dataset['combined_features']) #feeding combined strings(movie contents) to CountVectorizer() object

In [10]:
cosine_sim = cosine_similarity(count_matrix)

In [37]:
def get_title_from_index(index):
    return dataset[dataset.index == index]["title_x"].values

def get_index_from_title(title):
    return dataset[dataset['title_x'] == title].index.values

In [39]:
movie='Avatar'
movie_index = get_index_from_title(movie) 
#accessing the row corresponding to given movie to find all the similarity scores for that movie and then enumerating over it
similar_movies =  list(enumerate(cosine_sim[int(movie_index)])) 
sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:] 
i=0
print("Top Similar movies to "+movie+" are:\n")
for ele in sorted_similar_movies:
  print(get_title_from_index(ele[0]))
  i=i+1
  if i >= 5:
      break

Top Similar movies to Avatar are:

[]
[]
[]
[]
['Night at the Museum: Battle of the Smithsonian']